@import 'https://fonts.googleapis.com/css?family=Lato';

* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    text-align: center;
}

html {
 height: 100%;
}

body {
 height: 100%;
}

.navbar {
    background-color: #2E302F;
    display: none;
}

.navbar ul {
    max-width: 830px;
    padding: 10px 15px;
    margin: 0 auto;
    text-align: left;
}

.navbar li {
    display: inline-block;
    margin-right: 15px;
}

.navbar a {
    color: #EDEDED;
    text-decoration: none;
}

.navbar a:visited {
    color: #EDEDED;
}

header {
/*    height: 500px;*/
    padding-top: 200px;
    background: url("../images/bg-image.jpg") no-repeat top center fixed #070f19 !important;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-title {
    max-width: 900px;
    margin: 0 auto 40px;
    padding: 0 15px;
    font-size: 50px;
    color: #fff;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
}

.header-stinger {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 20px;
    color: #fff;
    font-style: italic;
}

.content {
    margin-top: 2em;
}

.container {
    font-size: 16px;
}

.container p {
    max-width: 830px;
    margin: 0 auto 2em;
    padding: 0 15px;
    text-align: left;
    line-height: 1.3em;
}

.container h3 {
    max-width: 830px;
    margin: 0 auto 5px;
    padding: 10px 15px 0;
    text-align: left;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    height: 100px;
    padding-top: 30px;
    background-color: #2E302F;
    color: #EDEDED;
}
